<html>

<head>
<style>
	body  {background-color:linen}
	h1    {color:red; font-family:arial; font-size:300%;}
	h2    {color:green; font-family:verdana; font-size:200%;}
	p     {color:orange; font-family:courier; font-size:100%;}
	pre   {color:blue; font-family:calibri; font-size:50%;}
</style>
</head>
</html>